*{
padding:0;
margin:0;
box-sizing: border-box;
}

.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SideContainer-d1{
  padding:10px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#9fd1db;
  width:10%;
  height:100vh;
}
ul li{
  padding: 40px;
  list-style: none;
  text-decoration: none;
 
}
ul li a{
  
  text-decoration: none; 
}
img{
  
  width:130px;
  height:100px;

}
.Homecontainer-A1{
  margin-left:10%;
  color:rgb(23, 255, 108);
}
.Outer{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20%;
  background-color: #61dafb;
  width:100%;
  height:100vh;
  border: 5px solid black;


}
.Innerdiv{
margin-bottom: 40%;
 justify-content: center;
 
  
  

  
  
  


  
}

button a{
  text-decoration: none;
}
.Search{
  border-radius: 5px;
  width:30%;
  padding: 5px;
}